.main{
    border: 2px solid grey;
    width: 300px;
    margin: 0px auto;
}
table{
    width: 100%;
}
tr{
    width: 25%;
}
button{
    width: 100%;
    background-color: black;
    color: white;
    height: 75px;
    font-size: 35px;
}
input{
    width: 92%;
    background-color: grey;
    height: 70px;
    color: white;
    font-size: 35px;
    padding-right: 20px;
    font-weight: 700;
}